<div class="wrapper">
  <div class="box row-two">
    <p>Bet you didn't expect your gift-giver had paws...</p>
  </div>
  <div class="box row-one row-one-box-one">
    <img src="../assets/square1.png">
  </div>
  <div class="box row-one row-one-box-two">
    <img src="../assets/square2.png">
  </div>
  <div class="box row-one row-one-box-three">
    <img src="../assets/square3.png">
  </div>
  <div class="box row-two">
    <p>For you've been paid a visit by old Chasey Claus!</p>
  </div>
  <div class="box row-three-box-one">
    <img src="../assets/long-short1.png">
  </div>
  <div class="box row-three-box-two">
    <img src="../assets/long-short2.png">
  </div>
  <div class="box row-two">
    <p>I've gathered my elves and I've made an amalgam...</p>
  </div>
  <div class="box row-one row-one-box-one">
    <img src="../assets/tallsquare1.png">
  </div>
  <div class="box row-one row-one-box-two">
    <img src="../assets/tallsquare2.png">
  </div>
  <div class="box row-one row-one-box-three">
    <img src="../assets/tallsquare3.png">
  </div>
  <div class="box row-two">
      <p>Of photos placed here in a small Christmas album</p>
  </div>
  <div class="box row-one row-one-box-one">
      <img src="../assets/tall1.png">
    </div>
    <div class="box row-one row-one-box-two">
      <img src="../assets/tall2.png">
    </div>
    <div class="box row-one row-one-box-three">
      <img src="../assets/tall3.png">
    </div>
  <div class="box row-two">
      <p>I’ve made up my lists and I’ve checked them both twice,<br>And Mom, you are certainly top of the Nice.</p>
  </div>
</div>